body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: center; */
}
.thumbnails-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 25vh;
    overflow-y: auto;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    padding-top: 2.5vh;
}
.thumbnails-image {
    width: 20vw;
    height: 18vw;
    display:block
}
.details-title {
    background-color: cornsilk;
    position: absolute;
    left: 3vw;
    bottom: 2vw
}
.details-image {
    width: 60vw;
    height: 55vw
}
.details-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.thumbnails-title {
    display: block;
    text-align: center;
    background-color: beige;
    color: blue;
    font-size: 1.2rem;
}
.thumbnails-item {
    margin-top: 2vh;
    margin-left: 2vw;
    border: 1px solid blue;
}
.thumbnails-anchor {
    text-decoration: none;
}
.logo-title {
    background-color: fuchsia;
    color: ghostwhite;
    font-size: 2rem;
    text-align: center;
   text-transform: uppercase;
}
body, html {
    height: 100%
}
@media (min-width: 568px){
    .logo-title{
        display: block;
    }
    .thumbnails-list {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        flex-wrap: nowrap;
        order: -1;
        margin-right: 75px;
        padding-bottom: 200px;
        margin-left: 30px;


    }
    html {
        height: 100%;
    }
    /* .details-container {
        width: auto;
    } */
    .thumbnails-title {
        width: 21vw;
    }
    .thumbnails-item {
        max-width: 40vw;
        max-height: 40vw;
        border: 2px solid white;
        border-radius: 23px;
    }
    body{
        background-color: chocolate(68,68,146);
        margin: 0%;
        max-height: 100%;
    }
    .main-content{
        display: flex;
        flex-direction: row;
        height: 100vw;
        background-color: grey;
    }
    .logo-title{
        background-color: darkgoldenrod;
        color:white;
        font: size 1rem;
        text-align:center;
        text-transform:uppercase;
        margin:0;
    }
    .footer-title{
        width: 100%;
    }
    .details-title{
        background-color: darkred(241,155,85);
        position: absolute;
        left: -5vw;
        bottom: 4vw;
    }
    .details-image{
        display: block;
        margin-top: 6%;
        margin-right: 10%;
        width: 60vw;
        height: 47vw;
    }
    
    .thumbnails-image{
        border-radius: 20px 20px 0px 0px;
        width: 100%;
    }
.thumbnails-title{
    border-radius: 0px 0px 20px 20px;
    height: 4vw;
}
.footer-title{
    background-color: rgb(168, 147, 247);
    color: salmon;
    font-size: 8px;
    text-align: center;
    position: fixed;
    bottom: 0;
}



}
